.form {
  font-family: AprovaSans;
}

input {
  width: 30%;
  height: 30px;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
  background-color: #269ff9;
  padding: 13px;
  border-radius: 100px;
  font-family: AprovaSans;
  font-size: 18px;
  width: 20%;
  margin-top: 20px;
}

@media screen and (max-width: 500px) {
  .form {
    font-size: 12px;
  }

  input {
    width: 100%;
  }

  button {
    width: 70%;
  }
}
