.container-form {
  text-align: left;
  flex-direction: column;
  justify-content: space-around;
  font-family: Aprova Sans Novembro 2020;
  padding: 0px 80px 30px;
  font-size: 25px;
  letter-spacing: 0em;
}

.h3-form {
  font-family: AprovaSans;
  font-size: 42px;
  letter-spacing: 0em;
  text-align: left;
}

.input {
  width: 90%;
  height: 30px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.button-form {
  background-color: #269FF9;
  padding: 20px;
  border-radius: 100px;
  font-family: AprovaSans;
  font-size: 18px;
  width: 90%;
  margin-top: 20px;
}
.enun-timeline {
  font-family: AprovaSans;
  font-size: 25px;
}
.periudoDia {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-inline: 5px;
}


@media screen and (max-width: 600px) {
  
}




