* {
  margin: 0;
  padding: 0;
}

.modalBtn {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  padding: 12px 24px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
}

.modalContainer {
  border-radius: 15px;
  max-width: 500px;
  width: 100%;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: #00e88f;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
}

.closeBtn {
  position: fixed;
  top: 8px;
  right: 12px;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 2rem;
  padding: 1rem 2rem;
}

.btnContainer {
  display: flex;
  padding: 1rem 2rem;
}
.btnContainer button {
  width: 80%;
  padding: 16px 0;
  border: none;
  color: black;
  border-radius: 300px;
  background-color: #269ff9;
}

@media screen and (max-width: 500px) {
  .modalContainer {
    flex-direction: column;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100vh;
  }

  .closeBtn {
    color: black;
  }
}
