.header {
    background-color: #333333;

}

img {
    padding: 30px 70px;
}

@media screen and (max-width: 600px) {
    img {
        width: 25px;
        height: 28.59px;
        padding: 30px 40px;
    }
 }