.container-timeline {
    text-align: center;
    background-color: #333333;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px;
}

.h2-timeline {
    font-family: VanguardCF;
    font-size: 60px;
    padding: 70px;
    color: white;
}

.timeline {
    background-color: #00E88F;
    padding: 90px;
    border-radius: 40px;
}

@media screen and (max-width: 600px) {
    .h2-timeline {
        font-size: 40px;
    }
}