.guide-container {
    font-family: VanguardCF;
    color: white;
    text-align: center;
    background-color: #2B2B2B;
}

.video {
    position: relative;
    padding-bottom: 56.3%;
}

iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

.h2-guide {
    padding-top: 70px;
    padding-bottom: 50px;
    font-size: 60px;
}
@media screen and (max-width: 600px) {
    .h2-guide {
        font-size: 40px;
    }

}